<!DOCTYPE html>
<html>

<head>

<h1>Wello Horld!</h1>


<meta name="viewport" content="width=device-width, initial-scale=1.0">

<ul class="navbar navbar-default">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

</head>
<!-- Sample from that getting started tutorial -->

<h1>Listing Items</h1>

<table class="table table-info">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>

  <% favouritesArray = Array.new %>


  <%# end %>
  <%
    def saveFavouriteItem(inputItem)
      #return <value>
      puts "Execution successful"
      puts inputItem.attributes
      print "Execution successful" + inputItem.attributes.to_s
    end
  %>





  <% @items.each do |current_item| %>

    <tr>
      <td><%= current_item.name %></td>
      <td><%= current_item.price %></td>
      <td><%= current_item.category %></td>
      <td><%= current_item.popularity %></td>

      <td>
        <%#= button_to [:show, @item] do %>
        <%#= button_to do [@item]  %>
          <%# favouritesArray.push(currentItem.id) %>
          <%# cookies[:favouritesArrayTest] = favouritesArray.to_json %>
        <%# end %>
      </td>

      <td>
        <%#= button_to "Add favourite" :action => "saveFave" %>
        <%#= button_to "Add favourite", :action => "addFave" %>
        <%# button_to "Add favourite", {:controller => "item", :action => "add_fave", :id => current_item.id}, :method => :post %>
        <%# button_to "smth", {:controller => "item", :action => "add_fave", method: :post, params: { start_point: 3.month.ago }} %>
        <%= link_to "Add Fave", "/add-fave?item_id=#{current_item.id}" %>
        <%#= button_to '+', {:controller => "votes", :action => "create", :car_id => car.id, :user_id=> session[:user_id]} , :method=>:post  %>


        <%# end %>
      </td>

      <td>

      <% #I'm going to do a test of adding items 2 and 4 to an array of favourites, then I will write that to a cookie. %>

      <%#
      if currentItem.id == 2
        favouritesArray.push(currentItem)
      else if currentItem.id == 2
        favouritesArray.push(currentItem)

      %>
      <%# favouritesArray.push(currentItem.id) %>

      <% if current_item.id == 2
        favouritesArray.push(current_item.id)
      elsif current_item.id == 4
        favouritesArray.push(current_item.id)
      end %>

      <%= puts "whole print: " + favouritesArray.to_s
       %>
       <% #The array appears to be correct. Making cookie now. %>

      <% end %>

      <%#= puts favouritesArray %>
      </td>

      <%#rails g migration CreateJoinTableProductsSuppliers products suppliers%>

      </tr>

      <tr>
      <td>

      <%# THE BELOW COOKIE INTERFACE CODE WORKS CORRECTLY. DO NOT FUCK WITH IT! %>

      <% cookies[:favouritesArrayTest] = favouritesArray.to_json %>

      <%= puts "Current Fav print:" %>
      <%= "Current Fav print:" %>
      <%# @favsReturn = cookies[:favouritesArrayTest] %>
      <% puts cookies[:favouritesArrayTest] %>
      <%=  cookies[:favouritesArrayTest] %>

      <% @currentFavs = cookies[:favouritesArrayTest].scan(/\d+/).map(&:to_i) %>
      <% puts @currentFavs %>

      <% @currentFavs.each do |x| %>
        <%#= Item.where(id: x) %>
        <% @Fitem = Item.find(x) %>
        <% puts @Fitem %>
        <% puts @Fitem.attributes %>
        <%#= Item.where(id: params[:ids]) %>
      <% end %>

      <%# @favsReturn do |currentFav| %>
        <%#= currentFav %>
      <%# end %>
      </td>
      </tr>
      <%# THE BELOW PARTIAL RENDER CODE WORKS CORRECTLY. DO NOT FUCK WITH IT! 10/5/21 4:38PM %>
      <%#= render partial: 'fav_item', locals: {object: currentItem} %>


</table>

</html>