<h1>Wello Horld!</h1>


<div class="banner"></div>
<div class="row">
        <div class = "col-lg-4 mx-auto " style="background-color:grey;">
          <br>
          <h1 class="font-italic mx-auto mb-4" style="color: #2b2b2b; text-align:left; vertical-align: middle;"><strong>Fashion.com</strong></h1>
      </div>




<!-- Sample from that getting started tutorial -->

<h1>Listing Items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>


  <% @items.each do |currentItem| %>

    <tr>
      <td><%= currentItem.name %></td>
      <td><%= currentItem.price %></td>
      <td><%= currentItem.category %></td>
      <td><%= currentItem.popularity %></td>

      <td>
      <%#= render :partial =>'fav_item', :object => currentItem  %>


      <%# THE BELOW PARTIAL RENDER CODE WORKS CORRECTLY. DO NOT FUCK WITH IT! 10/5/21 4:38PM %>
      <%= render partial: 'fav_item', locals: {object: currentItem} %>

      <%#= render :partial=>'fav_items/fav_item', :object=>currentItem  %>


      <%#= render 'fav_item', locals: { currentItem: categories }  %>
      <%#= render :partial=>'fav_item', :object=>currentItem  %>
      <%#= render 'fav_item', locals: {:collection => @all_items} %>

      <%#= render :partial=>"comments/comment", :object=>comment %>
      <%#= render 'fav_item', locals: {:i => i} %>
      <%#= render partial: 'show', locals: {profile: @profile} %>
      </td>

      According to the Rails docs. Please use
      <%#= render partial: "form", :locals => { :f => f  } %> or
      <%#= render "form", :f => f %> syntax.

 <%#=  render partial: "image_tag", locals: {image: i} %>
      <!-- #Try just saving one at all. -->

<%#= render :partial => "profiles/show", :collection => @profiles %>

on partial _show.html.erb

<%#= profile.fullname %>



    </tr>
  <% end %>




  #This is a favouriting practice.
  <tr>



  </tr>


</table>